@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

ul {
  list-style-type: none;
  margin: 0;
  width: 25%;
  height: 100%;
  position: fixed;
  background-color: tomato;
}
ul li a {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.active {
  background-color: white;
}
div.main {
  margin-left: 40%;
  padding: 20px;
}