.carousel {
  width: 600px;
  position: relative;
  margin: auto;
}

.carousel-images img {
  width: 100%;
  display: none;
}

.carousel-images img.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}
