@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.App {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 40px;
}

.accordion {
  width: 80%;
  margin: auto;
  text-align: left;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  text-align: left;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: #eaeaea;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
}

.accordion-content img {
  width: 100%;
  border-radius: 6px;
  transition: all 0.3s ease;
}

